{% comment %}
Example of use:

{% assign product_collection = collection %}
{% include 'product-block' with product %}

{% endcomment %}
{% assign image_size = 'medium' %}
{% if product-block.tags contains 'meta-image-large' %}
    {% unless product_image_size_norm %}
        {% assign image_size = 'large' %}
    {% endunless %}
{% endif %}
{% assign block_size = image_size %}

{% if settings.serve_overlarge_imgs %}
{% if image_size == 'large' %}{% assign image_size = 'grande' %}{% endif %}
{% if image_size == 'medium' %}{% assign image_size = 'large' %}{% endif %}
{% endif %}

{% include 'product-label' with product-block %}

{% assign collection_colour_class = '' %}

{% if product_collection %}
    {% capture product_url %}{{ product-block.url | within: product_collection }}{% endcapture %}
{% else %}
    {% capture product_url %}{{ product-block.url }}{% endcapture %}
{% endif %}
<div class="block product size-{{ block_size }}">
    <div class="main">
        <a href="{{ product_url }}" title="{{ product-block.title | escape }}">
        {{ label }}
        {{ product-block.featured_image | product_img_url: image_size | img_tag: product-block.featured_image.alt }}
        </a>
        {% if settings.prod_block_display contains 'hover' %}
        <div class="hoverinfo">
            {% comment %}<!-- Yi3: Add specificity -->{% endcomment %}
            {% comment %}<!--<a href="{{ product_url }}">-->{% endcomment %}
            <a href="{{ product_url }}" class="block-link">
                <div class="title">{{ product-block.title }}</div>
                <div class="lower">
                    <p class="money">
                        {% if product-block.compare_at_price_max > product-block.price %}
                            <span class="previously">{{ product-block.compare_at_price_max | money }}</span>
                        {% endif %}
                        {% if product-block.price_varies %}<span class="from">from</span>{% endif %}
                        {% comment %}<!-- Yi3: Hide $0.00 -->{% endcomment %}
                        {% comment %}<!--<span class="actual">{{ product-block.price | money }}</span>-->{% endcomment %}
                        {% if product-block.price > 0 %}<span class="actual">{{ product-block.price | money }}</span>{% endif %}
                    </p>
                    <span class="arr">&rarr;</span>
                </div>
                {% comment %}<!-- Yi3: Adding quick buy to hover -->{% endcomment %}
                {% if settings.prod_block_display contains 'quick' %}
                {% unless no_quick_buy %}
                {% assign quickbuy_block_id = 'hover_' | append: product-block.id %}
                <a class="toggler togglebutton quickbuytoggle" data-exclusive-group="1" data-target="#{{ quickbuy_block_id }}" data-speed="0" data-text-show="+" data-text-hide="&#215;" href="#">+</a>
                <div class="quickbuyarea" id="{{ quickbuy_block_id }}">
                    {% include 'yi3.product-quickbuy' %}
                </div>
                {% endunless %}
                {% endif %}
            </a>
        </div>
        {% endif %}
    </div>

    {% if settings.prod_block_display contains 'info' %}
    <div class="sub">
        <p><a class="title" href="{{ product_url }}">{{ product-block.title }}</a></p>

        <!-- Yi3: Add "Grapevine Reviews" -->
      {% unless settings.plugin_reviews == 'Disabled' %}
        {% if settings.plugin_reviews_display contains 'listing' %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      {% endunless %}

        <p class="pricearea">
            {% if product-block.compare_at_price_max > product-block.price %}
                <span class="was-price">{{ product-block.compare_at_price_max | money }}</span>
            {% endif %}
            {% if product-block.price_varies %}<span class="from">from</span>{% endif %}
            <span class="price">{{ product-block.price | money }}</span>
        </p>
        
        {% if settings.prod_block_display contains 'quick' %}
        {% unless no_quick_buy %}
        {% assign quickbuy_block_id = 'info_' | append: product-block.id %}
        <a class="toggler togglebutton quickbuytoggle" data-exclusive-group="1" data-target="#{{ quickbuy_block_id }}" data-speed="0" data-text-show="+" data-text-hide="&#215;" href="#">+</a>
    </div>
    <div class="sub quickbuyarea" id="{{ quickbuy_block_id }}">
        {% comment %}<!-- Yi3: Moved from here to snippet. -->{% endcomment %}
        {% include 'yi3.product-quickbuy' %}
    </div>

        {% endunless %}
        {% endif %}
    {% endif %}
</div>