{% comment %}<!--
Yi3: Social Affiliate Icons for Masonry Theme (Clean Themes UK)
SEE: `social-icons.liquid`
-->{% endcomment %}
{% assign affiliate_keys = 'one,two,three,four,five,six,seven,eight,nine,ten' | split: ',' %}
{% assign affiliate_prefix = 'yi3___soc_aff_' %}
{% if 'yi3___soc_aff_one_en'
   or 'yi3___soc_aff_two_en'
   or 'yi3___soc_aff_three_en'
   or 'yi3___soc_aff_four_en'
   or 'yi3___soc_aff_five_en'
   or 'yi3___soc_aff_six_en'
   or 'yi3___soc_aff_seven_en'
   or 'yi3___soc_aff_eight_en'
   or 'yi3___soc_aff_nine_en'
   or 'yi3___soc_aff_ten_en' %}

<ul class="sociallinks sociallinks--affiliate {{ social-icons }} cf">
{% for affiliate_key in affiliate_keys %}
{% assign en_key = affiliate_prefix | append: affiliate_key | append: '_en' %}
{% if settings[en_key] %}
    {% assign url_key = affiliate_prefix | append: affiliate_key | append: '_url' %}
    {% assign img_key = affiliate_prefix | append: affiliate_key | append: '_img.png' %}
    {% assign img_url = img_key | asset_url %}
    {% assign name_key = affiliate_prefix | append: affiliate_key | append: '_name' %}
    {% assign desc_key = affiliate_prefix | append: affiliate_key | append: '_desc' %}
    {% assign border_key = affiliate_prefix | append: affiliate_key | append: '_bord' %}
    <li class="{{ affiliate_key }}">
        {% if settings[url_key] %}
            <a target="_blank"
               href="{{ settings[url_key] }}"
               title="{{ settings[name_key] }}">
        {% endif %}
            {% comment %}<!--
            Yi3: There is no Shopify Liquid way to test for asset existance, hence the use of `onError`.
            SEE: https://ecommerce.shopify.com/c/ecommerce-design/t/testing-if-a-file-exists-29624
            -->{% endcomment %}
            <img src="{{ img_url }}"
                 alt="{{ settings[desc_key] }}"
                 title="{{ settings[name_key] }}"
                 class="{% if settings[border_key] %}has-border{% endif %}"
                 onError="this.style.display = 'none';" />
            {% if settings[name_key] != '' %}
                <span>{{ settings[name_key] }}</span>
            {% endif %}
        {% if settings[url_key] %}
            </a>
        {% endif %}
    </li>
{% endif %}
{% endfor %}
</ul>

{% endif %}