{% comment %}<!--
Yi3: Delivery Time Snippet for Masonry Theme
-->{% endcomment %}

{% if settings.date_picker_time_picker == 'Enabled' %}

    {% comment %}<!-- Yi3: Delivery time picker snippet -->{% endcomment %}
    {% include 'yi3.delivery-time-picker' %}

{% elsif settings.date_picker_time_picker == 'Disabled' %}

    {% comment %}<!-- Yi3: Delivery time message snippet -->{% endcomment %}
    {% include 'yi3.delivery-time-message' %}

{% endif %}