{% comment %}
<!-- DO NOT REMOVE THE FOLLOWING COMMENT -->
<!-- (c) Copyright 2012 Caroline Hill. All Rights Reserved. Contact Mlle Caroline Schnapp at mllegeorgesand@gmail.com -->
<!-- DO NOT REMOVE THE ABOVE COMMENT -->
{% endcomment %}
{% comment %}<!--
Yi3: Delivery Time Snippet for Masonry Theme (Clean Themes UK)
* Source: http://docs.shopify.com/manual/configuration/store-customization/add-a-gift-wrap-option
* Origin: http://ecommerce.shopify.com/c/ecommerce-discussion/t/major-blocker-for-launch-custom-shipping-for-local-delivery-112312
-->{% endcomment %}

{% if linklists.delivery-zip-codes.links.size > 0 and linklists.delivery-zip-codes.links.first.type == 'product_link' %}

  {% capture day %}{{ 'now' | date: '%a' }}{% endcapture %}
  {% assign location_choices = linklists.delivery-zip-codes.links %}
  <div id="location-picker">

    <div class="inputrow">
      <label for="delivery_location">{{ settings.location_picker_label }}</label>
      <!--
      <img src="https://austinzoning.typepad.com/austincontrarian/images/austin_nbd_tax_increase.jpg" style="width:800px;height:600px;max-width:none;max-height:none;" alt="Austin Zip Codes Map" usemap="#delivery_location_choice">
      <map id="delivery_location_choice" name="delivery_location_choice">
        {% assign location = 78741 %}
        <area href="#test" alt="{{ location }}" id="delivery_location_choice_{{ location }}" shape="poly" coords="397,375,397,367,402,359,401,351,392,348,398,336,406,337,402,329,402,320,376,309,368,313,356,337,361,354,377,367" {% if location == cart.attributes.delivery_location_choice %}class="is-active" {% endif %}/>
        {% assign location = 78742 %}
        <area href="#test" alt="{{ location }}" id="delivery_location_choice_{{ location }}" shape="poly" coords="320,420,310,428,304,439,309,441,277,500,264,489,270,480,257,471,264,464,245,466,225,447,236,425,245,426,252,420,309,414" {% if location == cart.attributes.delivery_location_choice %}class="is-active" {% endif %}/>
        {% assign location = 78743 %}
        <area href="#test" alt="{{ location }}" id="delivery_location_choice_{{ location }}" shape="poly" coords="401,445,414,441,456,446,485,431,485,420,473,401,463,400,458,394,441,394,434,402,419,395,422,405" {% if location == cart.attributes.delivery_location_choice %}class="is-active" {% endif %}/>
      </map>
      -->
      <span class="styleddrop">
        <select multiple id="delivery_location" data-type="custom" name="attributes[delivery_location]" data-placeholder="{{ settings.location_picker_placeholder }}">
        {% assign delivery_item_in_cart = false %}
        {% assign delivery_item_in_cart_id = 0 %}
        {% for variant in linklists.delivery-zip-codes.links.first.object.variants %}
          {% if cart.items.first.id == variant.id %}
            {% assign delivery_item_in_cart_id = variant.id %}
            {% assign delivery_item_in_cart = true %}
          {% endif %}
          <option value="{{ variant.title }}" id="{{ variant.id }}" {% if variant.id == delivery_item_in_cart_id %}selected="selected" {% endif %}/>{{ variant.title }}</option>
        {% endfor %}
        </select>
      </span>
    </div>
  {% if settings.location_picker_pickup == 'Enabled' %}
    <div class="inputrow">
      <input type="checkbox" id="delivery_location_choice_none" />
      <label class="for-checkbox" for="delivery_location_choice_none">{{ settings.location_picker_pickup_label }}</label>
    </div>
  {% endif %}
  {% if settings.location_picker_message %}
    <div class="yi3---notice">{{ settings.location_picker_message }}</div>
  {% endif %}

    {% include 'yi3.delivery-location-js' %}

  </div>

{% else %}

  <div id="location-picker">

    <script>
      if (window.console) {
        console.log("Developer attempted to add a delivery_location script to the shopping cart, but it won't work because there is no link list with handle `delivery-location-` which, in turn, contains a link to a delivery_location product. The developer should review the steps outlined at [http://wiki.shopify.com/Gift_wrapping].");
      }
    </script>

    {% comment %}<!-- Yi3: Delivery location message snippet -->{% endcomment %}
    {% include 'yi3.delivery-location-message' %}

  </div>

{% endif %}