{% comment %}<!--
Yi3: Delivery Location Snippet for Masonry Theme
-->{% endcomment %}

{% unless settings.location_picker == 'Disabled' %}

    {% comment %}<!-- Yi3: Delivery location picker snippet -->{% endcomment %}
    {% include 'yi3.delivery-location-picker' %}

{% endunless %}