{% comment %}<!--
Yi3: Delivery Date Snippet for Masonry Theme (Clean Themes UK)
* Source: http://docs.shopify.com/manual/configuration/store-customization/add-a-gift-wrap-option
* Origin: http://ecommerce.shopify.com/c/ecommerce-discussion/t/major-blocker-for-launch-custom-shipping-for-local-delivery-112312
-->{% endcomment %}

{% unless settings.date_picker == 'Disabled' %}

      <div id="date-picker">
        {% if settings.date_picker_vacation_message == 'Enabled' %}
          {% include 'yi3.vacation-notice', module_modifier: 'highlighted' %}
        {% endif %}

        <div class="inputrow">
          <label for="delivery_date">{{ settings.date_picker_label }}</label>
          <input id="delivery_date" type="text" name="attributes[delivery_date]" size="9" value="{{ cart.attributes.delivery_date }}" />
        </div>

        {{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css' | stylesheet_tag }}
        {{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js' | script_tag }}
        <script>
        var sameDayDeliveryTimeDeadline = {
          'hours': {{ settings.date_picker_same_day_deadline_time }}
        };

        function iniDeliveryDate (date) {
          var currentDate = new Date();
          var deliveryDate = new Date(date);
          var isDateDuringVacation = isVacation(deliveryDate);
          var deliveryDate = (isDateDuringVacation) ? null : deliveryDate;
          var shouldAllowSameDayDelivery = {% if settings.date_picker_same_day == 'Enabled' %}true{% else %}false{% endif %};
          var isPastSameDayDeliveryTimeDeadline = ( currentDate.getTime() > getSameDayDeliveryTimeDeadline(currentDate) );

          /*
          console.log('iniDeliveryDate', {
            currentDate: currentDate,
            isPastSameDayDeliveryTimeDeadline: isPastSameDayDeliveryTimeDeadline,
            shouldAllowSameDayDelivery: shouldAllowSameDayDelivery,
            isDateDuringVacation: isDateDuringVacation,
            deliveryDate: deliveryDate
          });
          */

          if (isPastSameDayDeliveryTimeDeadline) {
          	shouldAllowSameDayDelivery = false;
          }

          jQuery('#delivery_date').datepicker({
            minDate: (shouldAllowSameDayDelivery) ? '+0d' : '+1d',
            maxDate: '+3m',
            beforeShowDay: function(date) {
              var day = date.getDay();
              var isWeekend = (day === 0 || day === 7);
              var isSelectable = !isVacation(date);
              var cssClassname = '';
              return [isSelectable, cssClassname];
            }
          }).datepicker('setDate', deliveryDate);
        }

        function isVacation (date) {
          var dateStart = new Date('{{ settings.date_picker_vacation_date_start }}');
          var dateEnd = new Date('{{ settings.date_picker_vacation_date_end }}');
          var isVacation = ((date >= dateStart) && (date <= dateEnd));

          return isVacation;
        }

        function handleDeliveryDateChange () {
          jQuery('[name="attributes\[delivery_date\]"]').on('change', function () {
            var date = jQuery(this).val();

            setDeliveryDateAttribute(date);
          });
        }

        function setDeliveryDateAttribute (date, callback) {
          var params = {
                type: 'POST',
                url: '/cart/update.js',
                data: 'attributes[delivery_date]=' + date,
                dataType: 'json',
                success: function() {
                  if (typeof callback === 'function') {
                    callback();
                  }
                }
              };
          jQuery.ajax(params);
        }

        function getSameDayDeliveryTimeDeadline (deliveryDay) {
          var deadlineHours = sameDayDeliveryTimeDeadline.hours || 12,
              ret = deliveryDay.setHours(deadlineHours,0,0,0);

          return ret;
        }

        jQuery(function() {
          iniDeliveryDate('{{ cart.attributes.delivery_date }}' || '+0');
          handleDeliveryDateChange();
        });
        </script>

      </div>

{% endunless %}