{% unless settings.card-message == 'Disabled' %}

<div class="padded divided">
  <div id="card_message" class="form yi3---form-optional">
      <h3>{{ settings.card_message_heading }}</h3>

      <div class="textarearow">
          <!--<label for="card_message">{{ settings.card_message_label }}</label>-->
      	  <div class="textareawrapper"><textarea id="card_message" placeholder="{{ settings.card_message_label }}" name="attributes[card_message]">{{ cart.attributes.card_message }}</textarea></div>
      </div>
      <script>
      /*
       * HANDLE
       */

      function handleCardMessageAttribute () {
        jQuery('[name="attributes\[card_message\]"]').on('blur', function () {
          var message = jQuery(this).val();

          setCardMessageAttribute(message);
        });
      }

      /*
       * SET
       */

      function setCardMessageAttribute (message) {
        Shopify.updateCartAttributes({'card_message':message}, function(){});
      }

      /*
       * START
       */

      jQuery(function() {
        handleCardMessageAttribute();
      });
      </script>
  </div>
</div>

{% endunless %}