{% comment %}
<!-- DO NOT REMOVE THE FOLLOWING COMMENT -->
<!-- (c) Copyright 2012 Caroline Hill. All Rights Reserved. Contact Mlle Caroline Schnapp at mllegeorgesand@gmail.com -->
<!-- DO NOT REMOVE THE ABOVE COMMENT -->
{% endcomment %}
{% comment %}<!--
Yi3: Delivery Time Snippet for Masonry Theme (Clean Themes UK)
* Source: http://docs.shopify.com/manual/configuration/store-customization/add-a-gift-wrap-option
* Origin: http://ecommerce.shopify.com/c/ecommerce-discussion/t/major-blocker-for-launch-custom-shipping-for-local-delivery-112312
-->{% endcomment %}

{% unless settings.date_picker_time == 'Disabled' %}

{% if linklists.delivery-time-ranges.links.size > 0 and linklists.delivery-time-ranges.links.first.type == 'product_link' %}

  {% assign any_time_range = -2 %}
  {% assign asap_time_range = 'asap' %}
  {% capture day %}{{ 'now' | date: '%a' }}{% endcapture %}
  <!--{% if day == 'Sat' %}
    {% assign time_choices = linklists.delivery-time-choices-sat.links %}
  {% else %}
    {% assign time_choices = linklists.delivery-time-choices.links %}
  {% endif %}-->
  {% assign time_choices = linklists.delivery-time-choices.links %}
  <div class="inputrow">
    <label for="delivery_time">{{ settings.date_picker_time_label }}</label>
    <table id="delivery_time_choice">
      <thead>
        <tr>
        {% for choice in time_choices %}
          {% assign time = choice.url | replace: 'http://' %}
          <td>
            <label for="delivery_time_choice_{{ time }}">{{ choice.title }}</label>
          </td>
        {% endfor %}
        </tr>
      </thead>
      {% if settings.date_picker_pricing == 'Enabled' %}
      <tbody>
        <tr>
        {% for choice in time_choices %}
          {% assign time = choice.url | replace: 'http://' %}
          <td>
            <label for="delivery_time_choice_{{ time }}">
              <var id="delivery_time_price_{{ time }}">&mdash;</var>
            </label>
          </td>
        {% endfor %}
        </tr>
      </tbody>
      {% endif %}
      <tfoot>
        <tr>
        {% for choice in time_choices %}
          {% assign time = choice.url | replace: 'http://' %}
          <td>
            <input type="radio" value="{{ time }}" id="delivery_time_choice_{{ time }}" name="attributes[delivery_time_choice]" {% if time == cart.attributes.delivery_time_choice %}selected="selected" {% endif %}/>
          </td>
        {% endfor %}
        </tr>
      </tfoot>
    </table>
    {% for variant in linklists.delivery-time-ranges.links.first.object.variants %}
      {% if variant.barcode == asap_time_range and settings.date_picker_time_asap == 'Enabled' %}
    <input type="checkbox" id="delivery_time_choice_asap" {% if variant.id == delivery_item_in_cart_id %}checked="checked" {% endif %}/> <label class="for-checkbox" for="delivery_time_choice_asap">{{ variant.title }} ({{ variant.price | money }})</label>
        {% break %}
      {% endif %}
    {% endfor %}
    <select id="delivery_time_range" name="attributes[delivery_time_range]">
    {% assign delivery_item_in_cart = false %}
    {% assign delivery_item_in_cart_id = 0 %}
    {% for variant in linklists.delivery-time-ranges.links.first.object.variants %}
      {% if cart.items.first.id == variant.id %}
        {% assign delivery_item_in_cart_id = variant.id %}
        {% assign delivery_item_in_cart = true %}
      {% endif %}
      <option data-range="{{ variant.barcode }}" value="{{ variant.id }}" data-price="{{ variant.price | money }}" {% if variant.id == delivery_item_in_cart_id %}selected="selected" {% endif %}/>{{ variant.title }} ({{ variant.price | money }})</option>
    {% endfor %}
    </select>
    {% if settings.date_picker_time_message %}<div class="yi3---notice">{{ settings.date_picker_time_message }}</div>{% endif %}
  </div>

  {% include 'yi3.delivery-time-js' %}

{% else %}

  <script>
    if (window.console) {
      console.log("Developer attempted to add a delivery_time script to the shopping cart, but it won't work because there is no link list with handle `delivery-time-` which, in turn, contains a link to a delivery_time product. The developer should review the steps outlined at [http://wiki.shopify.com/Gift_wrapping].");
    }
  </script>

  {% comment %}<!-- Yi3: Delivery time message snippet -->{% endcomment %}
  {% include 'yi3.delivery-time-message' %}

{% endif %}

{% endunless %}