{% comment %}<!--
Yi3: Delivery Snippet for Masonry Theme (Clean Themes UK)
-->{% endcomment %}

{% unless settings.date_picker == 'Disabled' %}

<div class="padded divided">
  <div class="form yi3---form-optional">
      <h3>{{ settings.delivery_heading }}</h3>

      {% comment %}<!-- Yi3: Delivery date snippet -->{% endcomment %}
      {% include 'yi3.delivery-date' %}

    {% unless settings.date-picker-time == 'Disabled' %}

      {% comment %}<!-- Yi3: Delivery time snippet -->{% endcomment %}
      {% include 'yi3.delivery-time' %}

    {% endunless %}

    {% unless settings.location_picker == 'Disabled' %}

      {% comment %}<!-- Yi3: Delivery location snippet -->{% endcomment %}
      {% include 'yi3.delivery-location' %}

    {% endunless %}
  </div>
</div>

{% endunless %}