{% layout settings.customer_layout %}

{% if shop.checkout.guest_login %}
{% comment %}<!-- Yi3: Skip Guest Login Prompt (but allow Optional Accounts) -->{% endcomment %}
<div id="redirect-notices" class="block text double-padded" style="display:none">
  <div id="redirect-guest">
    <div class="page-header">
      <h1 class="pagetitle">Redirecting to Checkout Page</h1>
    </div>
    <p>If the checkout page has not loaded, please click the button below.</p>
    {% form 'guest_login' %}
       <input class="btn" type="submit" value="Checkout as Guest" />
    {% endform %}
  </div>
</div>
{% endif %}

<div id="customer-accounts" class="block text double-padded">

  <!-- Customer Account Login -->
  <div id="customer-login" class="form">
    <div class="page-header">
      <h1 class="pagetitle">Customer Login</h1>
    </div>

    {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <div id="login_email" class="cf inputrow">
        <label for="customer_email" class="login">Email Address</label>
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
      </div>

      {% if form.password_needed %}
        <div id="login_password" class="cf inputrow">
          <label for="customer_password" class="login">Password</label>
          <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
          <div id="forgot_password">
            <a href="#" onclick="return showRecoverPasswordForm()">Forgot your password?</a>
          </div>
        </div>
      {% endif %}

      <div class="action-bottom">
        <input class="btn" type="submit" value="Sign In" />
      </div>
    {% endform %}
  </div><!-- /#customer-login -->


  <!-- Password Recovery -->
  <div id="recover-password" style="display:none" class="form">
    <div class="page-header">
      <h1 class="pagetitle">Reset Password</h1>
    </div>

    <p class="note">We will send you an email to reset your password.</p>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="recover_email" class="cf inputrow">
        <label for="email" class="large">Email</label>
        <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
      </div>
      <div class="action-bottom">
        <input class="btn" type="submit" value="Submit" />
        <span class="note">or <a href="#" onclick="return hideRecoverPasswordForm()">Cancel</a></span>
      </div>
    {% endform %}
  </div><!-- /#recover-password -->


  {% comment %}
    Guest Login form for shops with optional customer accounts. This form is displayed only when users click on the checkout link
    on the cart page.
  {% endcomment %}

  {% if shop.checkout.guest_login %}
  <div id="guest">
    <div class="page-header">
      <h1>Guest Login</h1>
    </div>
		<p>Continue checkout as a guest. No sign-up required.</p>
    {% form 'guest_login' %}
      <input class="btn" type="submit" value="Continue as Guest" />
    {% endform %}
  </div>
  {% endif %}
  <div style="margin-top:15px"><p>Don't have an account? No problem!<br /><a href="/account/register">Click here to register your details and sign up for an account &raquo;</a></p></div>
</div>

<script type="text/javascript">
  {% if shop.checkout.guest_login %}
  /* Yi3: Skip Guest Login Prompt (but allow Optional Accounts) - START */
  // If we came from cart page (we did not come from checkout)
  if (document.referrer.search('/cart') > -1) {
    showRedirectNotice();

    function showRedirectNotice() {
      var opacity = 5;
      document.getElementById('redirect-notices').style.display = 'block';
      document.getElementById('customer-accounts').style.opacity = opacity / 10;
      document.getElementById('customer-accounts').style.filter = 'alpha(opacity=' + opacity * 10 + ')';
      return false;
    }

    // First visit to this page (not a return visit via the back button)
    if (window.location.hash !== '#yi3---skip') {
      window.location.hash = 'yi3---skip';
      $('#customer_login_guest').submit();
    }
  }
  {% endif %}
  /* Yi3: Skip Guest Login Prompt (but allow Optional Accounts) - END */

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('customer-login').style.display = 'none';
    window.location.hash = '#recover';
    return false;
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer-login').style.display = 'block';
    window.location.hash = '';
    return false;
  }
</script>

