/* Yi3: FAQ: This file is no longer applied. Perhaps Shopify has updated since its applicability. See [Shopify: Themes: `checkout.scss.liquid`](https://help.shopify.com/themes/development/templates/checkout-scss-liquid) for the latest way to style the checkout. */

{{ settings }}

{% for i in (1..3) %}
    {% capture font_setting_index %}{% cycle 'group1': 'font_fam_base', 'font_fam_head', 'font_fam_shoptitle' %}{% endcapture %}
    {% capture font_setting_cust_index %}{{ font_setting_index }}_cust{% endcapture %}
    {% assign font_family_split = settings[font_setting_index] | split: '|' %}
    {% assign curr_font_family = settings[font_setting_index] %}
	{% if settings[font_setting_index] == 'GWF|CUSTOM' %}
        {% assign curr_font_family = settings[font_setting_cust_index] %}
    {% elsif font_family_split.first == 'GWF' %}
        {% assign curr_font_family = font_family_split.last | append: ':400,700' %}
    {% endif %}
@import url(https://fonts.googleapis.com/css?family={{ curr_font_family | replace: ' ', '+' }});
{% endfor %}

{% for i in (1..3) %}
    {% capture font_setting_index %}{% cycle 'group1': 'font_fam_base', 'font_fam_head', 'font_fam_shoptitle' %}{% endcapture %}
    {% capture font_setting_cust_index %}{{ font_setting_index }}_cust{% endcapture %}
    {% assign font_family_split = settings[font_setting_index] | split: '|' %}
    {% assign curr_font_family = settings[font_setting_index] %}
    {% if settings[font_setting_index] == 'GWF|CUSTOM' %}
        {% assign curr_font_family = settings[font_setting_cust_index] %}
    {% elsif font_family_split.first == 'GWF' %}
        {% assign curr_font_family = font_family_split.last %}
    {% endif %}
    {% if font_setting_index == 'font_fam_base' %} body, input, textarea, select
    {% elsif font_setting_index == 'font_fam_head' %} h1,h2,h3,h4,h5,h6,#email label
    {% elsif font_setting_index == 'font_fam_shoptitle' %} #tagline .title
    {% endif %}
    { font-family: {{ curr_font_family | replace: '+', ' ' }}; }
{% endfor %}

body {
    font-size:{{ settings.font_size_base }}px;
    line-height:23px;
    color:{{ settings.font_col_base }};
    background-color:{{ settings.bg_col }};
    
    {% unless settings.bg_method == 'none' %}
    background-image:url('{{ settings.bg_img_file | asset_url }}');
    {% endunless %}
    
    {% if settings.bg_method contains 'full' %}
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    {% elsif settings.bg_method contains 'repeatxy' %}
        background-repeat:repeat;
    {% elsif settings.bg_method contains 'repeatx' %}
        background-repeat:repeat-x;
    {% elsif settings.bg_method contains 'norepeat' %}
        background-repeat:no-repeat;
    {% endif %}
    {% if settings.bg_method contains 'centertop' %}
        background-position:center top;
    {% endif %}
}

a,
a:link,
a:visited {
    color:{{ settings.font_col_link }};
    -moz-transition: color 100ms;
    -webkit-transition: color 100ms;
    transition: color 100ms;
    text-decoration:none;
}

a:hover {
    color:{{ settings.font_col_link_hover }};
}

input,
textarea {
    font:{{ settings.font_size_base }}px/22px Arial, sans-serif;
    background-color:{{ settings.font_col_input_bg }};
    color:{{ settings.font_col_input }};
    border:1px solid {{ settings.font_col_input_bord }};
    height:30px;
    padding:2px 10px;
    vertical-align:middle;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

input[type="checkbox"] {
    height:auto;
    padding:auto;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background:{{ settings.btn_col }};
    border: none;
    color:{{ settings.btn_col_txt }};
    font-family:sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 13px 15px 10px !important;
    letter-spacing: 1px;
    line-height:1em;
    height:auto;
    -moz-border-radius:{{ settings.btn_rad }}px;
    -webkit-border-radius:{{ settings.btn_rad }}px;
    border-radius:{{ settings.btn_rad }}px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: inline-block;
    zoom:1;
    *display:inline;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background:{{ settings.btn_col_alt }};
}

h1,h2,h3,h4,h5,h6,
#overview h2,
.group h3,
.pgroup h3,
#email label,
#cost,
#order-num,
#container.slim #tagline .title {
    display:block;
    color:{{ settings.font_col_heads }};
    font-size:20px;
    border:0;
    line-height:1em;
    margin:0.5em 0 1.5em;
    font-weight:normal;
}

#cost, #order-num {
    font-size:300%;
    margin:0;
}

#main, #footer {
    margin:{{ settings.block_gut }}px;
    padding:0 !important;
    overflow:hidden;
    background:{{ settings.block_bg }} !important;
    -moz-border-radius:{{ settings.block_bord_rad }}px;
    -webkit-border-radius:{{ settings.block_bord_rad }}px;
    border-radius:{{ settings.block_bord_rad }}px;
    {% if settings.block_shadow %}
        -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    {% endif %}
}

#header, #buttons, #content, #overview, #email, #addresses, #payment, .group {
    background:none;
    border:0;
    padding:0;
}

#buttons, #overview, #email, #addresses, .group {
    border-top:1px solid {{ settings.block_div_sub }};
    padding:20px;
}

#products {
    border-right:1px solid {{ settings.block_div_sub }};
}

#buttons {
    background:{{ settings.block_bg_sub }};
    -moz-border-radius:0 0 {{ settings.block_bord_rad }}px {{ settings.block_bord_rad }}px;
    -webkit-border-radius:0 0 {{ settings.block_bord_rad }}px {{ settings.block_bord_rad }}px;
    border-radius:0 0 {{ settings.block_bord_rad }}px {{ settings.block_bord_rad }}px;
}

.field-with-errors {
    border:1px solid {{ settings.block_div_sub }};
    background:{{ settings.block_bg_sub }};
    margin:10px 0;
}

.field-with-errors .error-message {
    color:{{ settings.font_col_base }};
    line-height:200%;
}

#info-bar{
    border-bottom:1px solid {{ settings.panel_bord_col }};
    font-size:{{ settings.font_size_nav }}px;
    color:{{ settings.panel_txt_pri_col }};
    text-decoration:none;
    background:{{ settings.panel_bg_col }};
    padding:5px;
}

#thumbs div {
    border-color:{{ settings.block_div_sub }};
}

div.wallet-highlight {
    background-color:{{ settings.block_div_sub }};
}

#thumbs span,
h3,
#overview .hint,
#thumbs h3 span {
    color:{{ settings.font_col_base }};
}

#footer {
    /* Yi3: Remove Undesired Style */
    /*
    width:400px;
    left:50%;
    margin-left:-200px;
    */
    position:relative;
    padding:5px 10px;
}

#container.slim #footer {
    width:400px;
}

#container.slim #header {
    background:none;
}

#container.slim #tagline .title {
    padding:20px 0;
    width:auto;
    position:static;
    margin:0;
    background:transparent;
    font-size:150%;
}

{% if settings.use_logo_img %}
/* Yi3: Logo Style for Checkout Page */
/*
#header #logo {
    margin:0 auto;
    width:{{ settings.adv_navpanel_width }}px;
    height:300px;
    background:url('{{ 'logo.png' | asset_url }}') no-repeat center center;
    background-size: 100%;
    {% if settings.use_logo_bg_col %}
    background-color:{{ settings.logo_bg_col }};
    {% endif %}
}
*/
#header #logo {
    margin:0 auto;
    width:100%;
    height:130px;
    background:url('{{ 'yi3.logo-long.png' | asset_url }}') no-repeat center center;
    background-size: 100%;
	background-color:transparent;
}

#tagline .title {
    display:none;
}
{% else %}
#tagline .title {
    color:{{ settings.font_col_shoptitle }};
    font-size:{{ settings.font_size_shoptitle }}px;
    line-height:1em;
    padding-top:{{ settings.logo_top_pad }}px;
    padding-bottom:{{ settings.logo_bot_pad }}px;
    {% if settings.use_logo_bg_col %}
    background:{{ settings.logo_bg_col }};
    {% else %}
        {% if settings.panel_bg_opacity == '0' %}
        background:transparent;
        {% else %}
        background:{{ settings.panel_bg_col }};
        {% endif %}
    {% endif %}
    border:1px solid {{ settings.panel_bord_col }};
    display:block;
    text-align:center;
    width:{{ settings.adv_navpanel_width }}px;
    position:relative;
    left:50%;
    margin-left:-{{ settings.adv_navpanel_width | times: 0.5 }}px;
}
{% endif %}

#tagline .subtitle {
    display:block;
    margin:10px 0;
    font-size:80%;
    line-height:1em;
}

/* If your logo is too tall or too wide for the checkout and gets cut off (in IE),
 * delete the slashes/asterisks around the lines below and change the width/height
 * to match the size of your logo
 */
/*
#header #logo {
    width:300px;
    height:300px;
}
*/

/*************    ---                   ---                   ---   *************/
/*************    |     ENTER YOUR CUSTOM CODE BELOW HERE       |   *************/
/*************    ---                   ---                   ---   *************/

/* Yi3: Disabled Items */

button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
    cursor:default;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

/* Yi3: Button Styles */

/* copied from `styles.css` a.button */

#buttons a,
#container.slim #main a,
input[type="submit"] {
    background:{{ settings.btn_col }};
    border: none;
    color:{{ settings.btn_col_txt }};

    font-family:sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 13px 15px 10px;
    letter-spacing: 1px;
    line-height:1em;
    height:auto;

    /* Yi3: Added "Border-Radius" for Buttons */
    /*
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    */
    -moz-border-radius:{{ settings.btn_rad }}px;
    -webkit-border-radius:{{ settings.btn_rad }}px;
    border-radius:{{ settings.btn_rad }}px;

    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: inline-block;
    zoom:1;
    *display:inline;

    margin:0 0.5em; /* new content not copied from `styles.css` a.button */
}
#buttons a:hover,
#container.slim #main a:hover,
input[type="submit"]:hover {
    background:{{ settings.btn_col_alt }};
}
input[type="submit"][disabled] {
    background:{{ settings.btn_col_alt }};
}

#buttons small a {
    position: relative;
    top: 1px;
    padding: 0;

    color:{{ settings.font_col_link }};
    background:transparent;

    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;

    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
}
#container.slim #main a {
    padding: 6px 10px 5px; /* Copied from `styles.css` `#cartform .update-totals` */

    background: {{ settings.btn_col_alt }};
}
#buttons small a:hover {
    color: {{ settings.font_col_link_hover }};
    background: transparent;
}
#container.slim #main a:hover {
    background: {{ settings.btn_col }};
}

/* Yi3: Content Width */

#main,
#footer {
    width:auto;
}
#container.slim #main,
#container.slim #footer {
    width:400px;
}

/* Yi3: Checkout Step 2 Delivery Method */

#payment .sst {
    display: none;
    visibility: hidden !important;
}

/* Yi3: Thank You Page Footer */

#footer {
    color:{{ settings.font_col_base }};
    line-height: 1em;
}

#footer p,
#footer div,
#footer:before {
    margin: 1em 0;
}
#footer:before {
    display: block;
    white-space: pre-wrap;
    content: '{{ settings.info_contact_phone }} | {{ settings.info_contact_email }}';
}

/* Yi3: Errors */

.field-with-errors {
    border:none;
    background:transparent;
    margin:0;
    padding:0;
    position:relative;
}
.field-with-errors input,
.field-with-errors select,
.field-with-errors textarea {
    border: 1px solid {{ settings.font_col_error }};
}
.field-with-errors br {
    display: none;
}
.field-with-errors .error-message {
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 3px;
    line-height: normal;

    color: {{ settings.font_col_error }};
    border: 1px solid {{ settings.font_col_error }};
    background: {{ settings.font_col_error_bg }};

    /* Copied from `input, textarea` */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    font-weight: normal;
}

/* Yi3: Errors, Specific */

#email .field-with-errors,
#email .sign-in-message {
    display: inline-block;
}
#email .field-with-errors br {
    display: block;
}
#email .sign-in-message {
    margin-top: 4px; /* Copied from Shopify `checkout-___.css` margin-left */
}

.address-notification {
    color: {{ settings.font_col_fatal }};
    border: 1px solid {{ settings.font_col_fatal }};
    background: {{ settings.font_col_fatal_bg }};

    /* Copied from `input, textarea` */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
