{% paginate collection.products by settings.coll_num_per_page %}

{% if settings.coll_show_paging contains 'top' %}
{% assign show_title_block_on_own_row = true %}
{% else %}
{% assign show_title_block_on_own_row = false %}
{% endif %}

{% unless show_title_block_on_own_row %}
<div class="blocklayout">
{% endunless %}

    {% unless settings.hide_col_title %}
    <div class="block text size-{{ settings.coll_title_width }} cf">
        <div class="main">
            <h1 class="pagetitle">{{ collection.title | escape }}
                {% for tag in current_tags %}
                    {% if settings.capitalise_tags %}
                        / {{ tag | capitalize }}
                    {% else %}
                        / {{ tag }}
                    {% endif %}
                {% endfor %}
            </h1>
            {% if collection.description != '' %}
                <div id="colldesc"{% if settings.lightbox_imgs %} class="lightboximages"{% endif %}>
                    {{ collection.description }}
                </div>
                {% unless settings.show_col_desc_def %}
                    <script>
                        document.getElementById('colldesc').style.display= 'none';
                        $(function(){
                            var truncdesc = {{ collection.description | strip_html | truncate: 200 | json }};
                            var nontrunclength = {{ collection.description | strip_html | json | size }};
                            var expandBtnHtml = '<a id="toggledesc" class="readmore" href="#"><span>read more</span></a>';
                            var fullDesc = $('#colldesc').html();
                            
                            if(truncdesc.length >= nontrunclength) {
                                return;
                            }
                            
                            $('#colldesc').html(truncdesc).css('display', 'block')
                                .after(expandBtnHtml);
                            
                            $(document).on('click', '#toggledesc', function(){
                                if($(this).toggleClass('expanded').hasClass('expanded')) {
                                    $('#colldesc').html(fullDesc);
                                    $(this).children(':first').html('read less');
                                } else {
                                    $('#colldesc').html(truncdesc);
                                    $(this).children(':first').html('read more');
                                }
                                $('.masonry').masonry();
                                return false;
                            });
                        });
                    </script>
                {% endunless %}
            {% endif %}
        </div>
        <div class="sub meta cf">
            {% if settings.show_tagfilt and collection.handle and collection.tags.size > 0 %}
            <label for="tagfilter">{{ settings.text_filter_c }}</label> <select class="navdrop" name="tagfilter">
                <option value="{{ shop.url }}/collections/{{ collection.handle }}">All Products</option>
                {% for tag in collection.all_tags %}
                    {% comment %}Don't show tags used for relating products together{% endcomment %}
                    {% unless tag contains 'meta-' %}
                        {% if settings.capitalise_tags %}
                            {% assign tagtitle = tag | capitalize %}
                        {% else %}
                            {% assign tagtitle = tag %}
                        {% endif %}
                        {% if current_tags contains tag %}
                            <option value="{{ shop.url }}/collections/{{ collection.handle }}/{{ tag | handleize }}" selected="selected">{{ tagtitle }}</option>
                        {% else %}
                            <option value="{{ shop.url }}/collections/{{ collection.handle }}/{{ tag | handleize }}">{{ tagtitle }}</option>
                        {% endif %}
                    {% endunless %}
                {% endfor %}
            </select>
            {% endif %}
            
            &nbsp;
            
            {% include 'social-sharing' %}
        </div>
    </div>
    {% endunless %}

  {% if settings.coll_show_paging contains 'top' %}
  {% include 'pagination-control' %}
  {% endif %}
  
  {% if show_title_block_on_own_row %}
  <div class="blocklayout">
  {% endif %}

    {% if collection.products.size == 0 %}
        <div class="block text size-large"><div class="main">There are no products here.</div></div>
    {% else %}
        {% include 'product-list' with collection %}
    {% endif %}

  </div><!-- /.blocklayout -->

{% if settings.coll_show_paging contains 'bottom' %}
{% include 'pagination-control' %}
{% endif %}

{% endpaginate %}