<div class="blocklayout{% if settings.home_rand %} randomise{% endif %}">

{% unless pages[settings.home_page] == empty %}
{% comment %}<!-- Yi3: Full-Width Homepage Text -->{% endcomment %}
{% comment %}<!--<div class="block text size-large notrandom">-->{% endcomment %}
<div class="block text size-{{ settings.home_page_size }} notrandom">
    <div class="main">
        <h1 class="pagetitle">{{ pages[settings.home_page].title }}</h1>
        <div id="maindesc">{{ pages[settings.home_page].content }}</div>
    </div>
    {% if settings.home_text_contracted %}
        <script>
            document.getElementById('maindesc').style.display= 'none';
            $(function(){
                {% comment %}/* Yi3: KeepHTML in Truncated Text */{% endcomment %}
                {% comment %}/*var truncdesc = {{ pages[settings.home_page].content | strip_html | truncate: 200 | json }};*/{% endcomment %}
                {% comment %}/*var nontrunclength = {{ pages[settings.home_page].content | strip_html | json | size }};*/{% endcomment %}
                var truncdesc = {{ pages[settings.home_page].content | truncate: 300 | replace: '...', '' | json }};
                var nontrunclength = {{ pages[settings.home_page].content | json | size }};
                var expandBtnHtml = '<a id="toggledesc" class="readmore" href="#"><span>read more</span></a>';
                var fullDesc = $('#maindesc').html();
                
                if(truncdesc.length >= nontrunclength || $('#toggledesc').length > 0) {
                    return;
                }
                
                $('#maindesc').html(truncdesc).css('display', 'block')
                    .after(expandBtnHtml);
                
                $(document).on('click', '#toggledesc', function(){
                    if($(this).toggleClass('expanded').hasClass('expanded')) {
                        $('#maindesc').html(fullDesc);
                        $(this).children(':first').html('read less');
                    } else {
                        $('#maindesc').html(truncdesc);
                        $(this).children(':first').html('read more');
                    }
                    $('.masonry').masonry();
                    return false;
                });
            });
        </script>
    {% endif %}
</div>
{% endunless %}

 
{% for i in (1..3) %}
    {% assign set_index = 'ad_' | append: i | append: '_show' %}
    {% unless settings[set_index] == empty %}
    {% assign ad_url_index = 'ad_' | append: i | append: '_src' %}
    {% assign ad_title_index = 'ad_' | append: i | append: '_title' %}
    {% assign ad_title_bord = 'ad_' | append: i | append: '_bord' %}
    
    <div class="block home-image {% if settings[ad_title_bord] == 'trans' %}transparent{% endif %} size-{{ settings[set_index] }}">
        {% if settings[ad_title_bord] == 'border' %}<div class="main">{% endif %}
        {% if settings[ad_url_index] == empty %}
            <img src="{{ 'ad_' | append: i | append: '_img.png' | asset_url }}" alt="{{ settings[ad_title_index] }}" />
        {% else %}
            <a href="{{ settings[ad_url_index] }}" title="{{ settings[ad_title_index] }}"><img src="{{ 'ad_' | append: i | append: '_img.png' | asset_url }}" alt="{{ settings[ad_title_index] }}" /></a>
        {% endif %}
        {% if settings[ad_title_bord] == 'border' %}</div>{% endif %}
    </div>
    {% endunless %}
{% endfor %}

{% for link in linklists[settings.home_add_pages].links %}
<div class="block {% if link.title contains 'imagewithborder' %}home-image{% endif %} {% if link.title contains 'transparent' %}transparent{% endif %} size-{% if link.title contains 'small' %}normal{% else %}large{% endif %}">
    {% if link.title contains 'withborder' %}<div class="main">{% endif %}
    {{ link.object.content }}
    {% if link.title contains 'withborder' %}</div>{% endif %}
</div>
{% endfor %}

{% for link in linklists[settings.home_coll_list].links %}
{% comment %}<!-- Yi3: Add "Hover Info" for Categories (Add `product` Class) -->{% endcomment %}
{% comment %}<!--<div class="block collection size-{{ settings.home_coll_size }}">-->{% endcomment %}
<div class="block product collection size-{{ settings.home_coll_size }}">
    <div class="main">
        {% if link.object.image %}
            {{ link.object.image.src | collection_img_url: settings.home_coll_size | img_tag: link.object.image.alt | link_to: link.object.url, link.object.title }}
        {% endif %}
        {% comment %}<!-- Yi3: Add "Hover Info" for Categories -->{% endcomment %}
        {% if settings.prod_block_display contains 'hover' %}
        <div class="hoverinfo">
            <a href="{{ link.object.url }}">
                <div class="desc">{{ link.object.description }}</div>
            </a>
        </div>
        {% endif %}
    </div>
    {% if settings.home_coll_title %}
    <div class="sub">
        <a class="title" href="{{ link.object.url }}">{{ link.object.title }}</a>
    </div>
    {% endif %}
</div>
{% endfor %}

{% include 'product-list' with collections[settings.home_coll] %}

</div>